{% extends 'base.html' %}

{% block content %}
<div class="container">

    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Thousands of classic cars to see</h2>
            <h5>Biggest car collection in the Midwest!</h5>
            <div>
                <button class="btn btn-primary">View our collection</button>
                <button class="btn btn-primary">Join the community</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img src="../../static/css/images/qrsrshhwscx.jpg" alt="" class="header-image">
        </div>
    </header>

    <!--Start of middle Section-->
    <section class="row">
        <div class="col-12" id= "middle-text">
            <h2>Connect with car enthusiast from across the country!</h2>
            <p>build your network and create new connections!</p>
        </div>
    </section>
    
    <!--Collection of Featuers section-->
    <section class="row" id="featuters-section">
        <div class="col-12 col-md-4">
            <img src="../../static/css/images/great-set-of-logos-with-classic-cars_23-2147610678.jpg" alt="" id="brand-image">
            <h4>Hundreds of makes and models</h4>
            <p>whatever you're a fan off, we got it!</p>
        </div>


    <!--Start of footer section-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="" alt="" id="footer-logo">
        </div>
       
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>contact us</h4>
                <p>plan a visit</p>
                <p>Contribute to the Collection</p>
               
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>careers</h4>
                <p>guided tours</p>
                <p>gift shop</p>
                
            </div>
        </div>

    </footer>
</div>
{% endblock content %}